body {font-family: 'Times New Roman', Times, serif;
      background-color:white;
      }

.page { background-color:beige;
        width: 51%;
        height:115%;
    margin: 1em auto;
padding: 0.2em 0.2em;        /* spazio interno sopra/sotto e ai lati */
  box-sizing: border-box;
}
  
h1 {text-align: center;
    margin: 0;
    padding: 0;}

.title1 {font-weight:400;
         margin-top: 0.8em; 
         letter-spacing: 0.1em;}

.title2 {font-weight: 600;
         margin-top: 0.3em;}

.characters {font-size:0.67em}

.box {border: 0.15em solid black;
      margin-top: 4em;
     
      margin-left: 7em;
      margin-right: 7em;
      padding-left:1em;
      padding-right:1em;
      padding-top: 0.5em;
        padding-bottom: 1.5em;}

hr {width: 25%}

h4 {text-align: center;
    margin-top: 2.5em;}

p  {margin: 0;
    text-align: justify;}

.text {text-indent: 1.2em;}

.note {text-align: center;
       margin-top: 1em;}

.pageNumber {text-align: center;
             margin-top: 1em;
            margin-bottom:2em;}